<div class="container">
    <div class="heading">
        <div class="heading-text">App Name</div>
        <div class="save-video-btn">
            <button mat-flat-button color="primary">Save video</button>
        </div>
    </div>

    <div class="videos">
        <div class="video-wrap">
            <div style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
        ">
                <div class="play-btn" id="play" (click)="playVideo(video)">
                    <img src="./../../../assets/play.png" width="100px" height="100px" />
                </div>
                <video #video id="video" class="video-player" preload="auto" (timeupdate)="updateDuration(video)" [ngStyle]="{ opacity: isPlaying ? 1 : 0.8 }" playsinline="true" webkit-playsinline="true" [src]="currentVideo['url']" type="video/mp4" (ended)="playNext($event, video)"></video>
            </div>
        </div>
    </div>

    <div class="player">
        <div class="player-timer">
            <div class="total-time-text">Total Time</div>
            <div>
                {{ duration }}
            </div>
        </div>
        <div class="player-controls">
            <mat-icon [matTooltip]="toolTipTextForPlayerOptions.add" matTooltipClass="toolTip" matTooltipPosition="right">add_circle_outline</mat-icon>
            <mat-icon [matTooltip]="toolTipTextForPlayerOptions.swap" matTooltipClass="toolTip" matTooltipPosition="right" class="material-icons-outlined">
                swap_horizontal_circle
            </mat-icon>
            <!-- <mat-icon class="material-icons-outlined">swap_horizontal_circle</mat-icon> -->
            <mat-icon [matTooltip]="toolTipTextForPlayerOptions.next" matTooltipClass="toolTip" matTooltipPosition="right" class="material-icons-outlined" (click)="playNext($event, video)">
                skip_next
            </mat-icon>
            <mat-icon [matTooltip]="toolTipTextForPlayerOptions.previous" matTooltipClass="toolTip" matTooltipPosition="right" class="material-icons-outlined" (click)="playPrevious($event, video)">
                skip_previous
            </mat-icon>
            <mat-icon (click)="deleteFrame(video)" [matTooltip]="toolTipTextForPlayerOptions.delete" matTooltipPosition="right" matTooltipClass="toolTip">delete_outline</mat-icon>
        </div>
        <div class="player-frames">
            <div class="player-cursor">
                <div class="player-cursor-bar"></div>
                <div class="player-cursor-line"></div>
            </div>
            <span style="display: flex; gap: 20px">
        <ng-container *ngFor="let videos of listOfVideos; let i = index">
          <div
            [ngClass]="{ activeVideo: activeIndex === i }"
            style="display: flex; padding: 10px"
          >
            <video
              #video2
              class="player-video"
              (loadedmetadata)="onMetadata($event, video2)"
            >
              <source src="{{ videos.url }}" type="video/mp4" />
            </video>
          </div>
        </ng-container>
      </span>
        </div>
    </div>
</div>